@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');
html, body {
    margin: 0;
    padding: 0;
    background-color: #202020;
    font-family: 'Inconsolata', monospace;
}

button {
    border-radius: 0;
    border: 2px solid grey;
    background-color: lightgrey;
    color: #000;
    font-weight: bold;
    cursor: pointer;
}

#loggedoutMenuWrapper{
    margin: 25px 0;
}

#loggedoutToggler {
    border: none;
    background-color: transparent;
    color: rgba(0, 255, 0, 1);
    text-decoration: underline;
}


#loggedoutToggler:hover {
    text-decoration: none;
}

#loggedoutMenuWrapper form label {
    margin: 15px 0;
    display: block;
}

#loggedoutMenuWrapper form label input {
    background-color: transparent;
    box-shadow: none;
    border: none;
    border-bottom:1px solid rgba(0, 255, 0, 1);
    color: rgba(0, 255, 0, 1);
}

#loggedoutMenuWrapper form button[type="submit"] {

}

.inputFormWarning {
    font-size: 0.8em; 
    background-color: rgba(0, 200, 0, 1);;
    color: #000;   
    display: block;
    margin: 3px 0;
}

#mainMenuWrapper, #loggedOutWrapper {
    position: fixed;
    top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#mainMenuWrapper > div, #loggedOutWrapper > div {
    width: 300px;
}

.screenWrapper, #loggedoutMenuWrapper {
    padding: 10px;
    background: #000;
    border: 5px solid rgba(0, 200, 0, 1);
    color: rgba(0, 255, 0, 1);
}

#mainMenuButtons {
    padding-top: 10px;
}

#mainMenu {
    margin: 25px 0;
}

#mainMenu  button{
    width: 80%;
    margin: 5px 10%;
    padding: 8px;
}