html, body {
    margin: 0;
    padding: 0;
    background-color: darkgrey;
}

canvas {
    margin: 50px auto 150px auto;
    display: block;
}
/* remove .overlay and replace this with a responsive grid later*/
#overlayWrapper .overlay{
    z-index: 10;
    position: fixed;
}

.overlay {

}

#turnCounterWrapper {
    top: 10px;
    left: 40%;
}

#menuWrapper {
    bottom: 10px;
    right: 10px;
    height: 15%;
    bottom: 10px;
    right: 10px;
    width: 30%;
    background-color: red;
    text-align: right;
}
#combatLogWrapper {
    text-align: left;
}

#combatLogWrapper span {
    font-size: 0.8em;
}

#unitsWrapper {
    bottom: 10px;
    display: flex;
    font-size: 0.8em;
}

#unitsWrapper ul {
    list-style: none;
    background: red;
    padding: 10px;
}